body{
    background-color:#f7f7f7;
    margin:0;
}

header > ul{
    margin: 0;
}
 
li {
    list-style-type: none;
}

.headerLi > a {
    display: block;
    line-height:20px;
    padding: 20px 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #2d456f;
    color: #fff;
}
 
.headerLi > a:hover {
    background-color: #00FF00;
}

header{
    background-color:#2d456f;
    height:60px;
    color:#fff;
}

.headerBox{
    display:flex;
    justify-content: center;
}



main{
    font-family:"Courier New",monospace;
}
table{
    margin:30px auto;
}
th,td{
    background-color:pink;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px; 
}

#reset{
    width: 200px;
    margin:50px auto 10px;
    padding:7px;
    border-radius: 5px;
    background: #00aaff;
    box-shadow: 0 5px 0 #0088cc;
    cursor: pointer;
    text-align: center;
}

#reset:hover{
    opacity: 0.8;
}

#reset:active{
    margin:55px auto 5px;
    box-shadow: 0 0px 0 #0088cc;
}